---
---
<nav class="site-nav" aria-label="Main">
  <div class="site-nav__inner">
    <a class="site-nav__brand" href="/">Manuel Mejia</a>
    <ul class="site-nav__list">
      <li><a href="/#blog">Blog</a></li>
      <li><a href="/#podcast">Podcast</a></li>
      <li><a href="/#contact">Contact</a></li>
    </ul>
  </div>
</nav>
